# Default ignored files
/shelf/
/.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
./backend/node_modules
./backend/.env
./backend/package-lock.json
./frontend/node_modules
./frontend/package-lock.json