.loginContainer {
    width: 100vw;
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.hide {
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;
    visibility: visible;
}
.show {
    opacity: 1;
    -webkit-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
    z-index: 2;
}
.loginWrapper {
    width: 100%;
    height: 70%;
    display: flex;
}
.loginLeft {
    flex: 1;
    display: flex;
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url("http://localhost:3000/images/loginpage.png");
    min-width: 460px;
    background-repeat: no-repeat;
    background-position: right 2px;
}
.frontImgWrapper {
    display: flex;
}
.frontImg {
    position: absolute;
    top: 28px;
    right: 59px;
}
.loginRight {
    flex: 1;
    display: flex;
    height: max-content;
}
.loginRightWrapper {
    width: 360px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 3px;
    padding-bottom: 10px;
}

.loginRightTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginRightTopTop {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 35px 0;
}
.loginRightTopLogo {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    font-weight: bold;
}
.loginRightTopForm {
    display: flex;
    justify-content: center;
    width: 100%;
}
.loginBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding-bottom: 20px;
}
.loginInput {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 0 5px;
}
.loginButton {
    margin-top: 10px;
    width: 100%;
    height: 25px;
    background-color: #0095f6;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.SignUptext {
    color: #0095f6;
    font-weight: 500;
    cursor: pointer;
}